<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddSettingDetailController</servlet-name>
        <servlet-class>controller.AddSettingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSettingDetailController</servlet-name>
        <servlet-class>controller.EditSettingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizationController</servlet-name>
        <servlet-class>controller.AuthorizationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListUserController</servlet-name>
        <servlet-class>controller.ShowListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListSettingController</servlet-name>
        <servlet-class>controller.ShowListSettingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSettingDetailController</servlet-name>
        <url-pattern>/add_setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSettingDetailController</servlet-name>
        <url-pattern>/edit_setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationController</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListUserController</servlet-name>
        <url-pattern>/ShowListUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListSettingController</servlet-name>
        <url-pattern>/ShowListSetting</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
